<!DOCTYPE html>
<html>
<head>
<title>Flight Safety System - Config</title>
<base href="/static/" />
<script type="module" src="pretty.js"></script>
</head>
<body>
<div class="label">Flight Safety System Servers</div>
<table class="table">
<tr>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Client Port</th>
    <th scope="col">Config Port</th>
    <th scope="col">HTTPS</th>
    <th scope="col">Link</th>
</tr>
{% for server in FSSservers %}
<tr>
<td>{{ server.name }}</td>
<td>{{ server.address }}</td>
<td>{{ server.client_port }}</td>
<td>{{ server.config_port }}</td>
<td>{{ server.https }}</td>
<td><a href="{{ server.http_address }}">Go</a></td>
</tr>
{% endfor %}
</table>
<div class="label">Search Management Map Servers</div>
<table class="table">
<tr>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Port</th>
    <th scope="col">HTTPS</th>
    <th scope="col">Link</th>
</tr>
{% for server in SMMservers %}
<tr>
<td>{{ server.name }}</td>
<td>{{ server.address }}</td>
<td>{{ server.port }}</td>
<td>{{ server.https }}</td>
<td><a href="{{ server.http_address }}">Go</a></td>
</tr>
{% endfor %}
</table>
<div class="label">Assets</div>
<table class="table">
<tr>
    <th scope="col">Name</th>
    <th scope="col">Search Management Map</th>
    <th scope="col">SMM - User</th>
</tr>
{% for asset in Assets %}
<tr>
<td>{{ asset.name }}</td>
<td>{{ asset.config.smm.name }}</td>
<td>{{ asset.config.smm_login }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
