<!DOCTYPE html>
<html>
<head>
<title>Flight Safety System - Assets</title>
<base href="/static/" />
<script type="module" src="pretty.js"></script>
</head>
<body>
<div class="label">Assets</div>
<table class="table">
<tr>
    <th scope="col">Name</th>
    <th scope="col">Search Management Map</th>
    <th scope="col">SMM - User</th>
</tr>
{% for asset in assets %}
<tr>
<td>{{ asset.name }}</td>
<td>{{ asset.config.smm.name }}</td>
<td>{{ asset.config.smm_login }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>
