<!DOCTYPE html>
<html>
    <head>
        <title>Flight Safety System</title>
        <base href="/static/" />
        <link rel="stylesheet" href="main.css">
        <script type="module" src="main.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="root"></div>
        <div id="dialog-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="dialog-header"></div>
                    <div class="modal-body" id="dialog-body"></div>
                    <div class="modal-footer">
                        <div class="btn-group" id="dialog-buttons"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
